.top{
	margin: 30px;
	margin-left:10%;
	height: 85px;
	
}
.top>.logo{
	display: inline-block;
	width:350px;
	height:85px;
	background-image: url(pic/logo_d.png);
	background-repeat: no-repeat;
	background-size: 100%;
	vertical-align: top;
}
.top>.tittle{
	font-size: 35px;
	height: 85px;
	display: inline-block;
	vertical-align: top;
	margin-left:50px;
	line-height: 85px;
	color: #1069a4;
}

.wrap{
	padding: 20px;
	border-radius:10px ;
	background-color:#dbdbdb ;
	height: 430px;
	width: 1200px;
	margin: 70px auto;
	position: relative;
}
.wrap>.show_pic{
	background-image: url(pic/login_bg_pic.jpg);
	width:700px;
	height: 500px;
	background-repeat: no-repeat;
	background-size: 100%;
	
}
.wrap>.message{
	position: absolute;
	width: 480px;
	left: 740px;
	top:330px;
	font-size: 20px;
	line-height: 30px;
	box-sizing: border-box;
	padding: 20px;
}

.thing {
	position: absolute;
	width: 480px;
	top:20px;
	left: 740px;
	border-radius: 5px;
	background-color:#fff ;
	box-sizing: border-box;
	padding: 25px;
	padding-bottom: 15px;
}

form {
	text-align: center;
}

.thing .user,
.thing .pass {
	margin: 18px auto;
	width: 360px;
	font-size: 20px;
}

.thing div input {
	height: 20px;
	width:200px;
}

#login,
#reg {
	width: 65px;
	height: 35px;
	font-size: 18px;
	margin: 12px 45px;
}

.pic {
	position: absolute;
	top: 38%;
	left: 50%;
	width: 300px;
	height: 160px;
	margin-left: -150px;
	background-color: #fff;
	border: 3px solid darkorange;
	text-align: center;
}

#tpyzm {
	width: 80px;
	height: 25px;
	vertical-align: middle;
	margin: 0 20px;
}

.pic .tell {
	text-align: center;
}
